*{
	margin:0;
	padding:0;
}

body {
	background:url('../imagens/bg.jpg') no-repeat left top;
	font-size:62.5%;
	font-family:'Open Sans', sans-serif;
}

.all {
	width:550px;
	margin:40px auto 0px auto;
	padding:20px;
	background:rgba(236, 240, 241,0.9);
	text-align: center;
	border-radius:10px;
	border:5px solid rgba(0,0,0,0.1);
}

.header {
	padding:5px;
	margin-left:-20px;
	margin-right:-20px;
	margin-bottom:30px;
}

.header h1 {
	font-size: 3em;
	text-transform: uppercase;
}

.header h2 {
	font-size:1.6em;
	margin-top:10px;
}
.box {
	width:80%;
	margin:0 auto;
	font-size:2em;

}

form {
	margin:30px auto;
}
input[type="text"] {
	padding:10px;
	font-size:1.2em;
	color:#333;
	font-weight:bold;
	width:74%;
	display:block;
	margin:0 auto;
}


.button {
  border-style: none;
  background: #f39d13;
  background: -moz-linear-gradient(top, #f39d13 0%, #c64f01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f39d13), color-stop(100%, #c64f01));
  background: -webkit-linear-gradient(top, #f39d13 0%, #c64f01 100%);
  background: -o-linear-gradient(top, #f39d13 0%, #c64f01 100%);
  background: -ms-linear-gradient(top, #f39d13 0%, #c64f01 100%);
  background: linear-gradient(top, #f39d13 0%, #c64f01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f39d13', endColorstr='#c64f01', GradientType=0);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 20px;
  margin: 14px auto 10px auto;
  display: block;
  width: 80%;
  border: 3px solid #f0f0f0;
  border: 1px solid #c94f00;
  text-shadow: 0px 1px #bf1802;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
.button:hover {
  cursor: pointer;
}
.button:active {
  background: #c64f01;
  background: -moz-linear-gradient(top, #c64f01 0%, #f39d13 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c64f01), color-stop(100%, #f39d13));
  background: -webkit-linear-gradient(top, #c64f01 0%, #f39d13 100%);
  background: -o-linear-gradient(top, #c64f01 0%, #f39d13 100%);
  background: -ms-linear-gradient(top, #c64f01 0%, #f39d13 100%);
  background: linear-gradient(top, #c64f01 0%, #f39d13 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c64f01', endColorstr='#f39d13', GradientType=0);
}
.button:focus {
  outline: none;
}